.venv
data/
.venv_ampere
__pycache__/
*.pyc
.env
extras/
.venv_librispeech/
=2.6.0.env
extra_stuff_will_clean/
checkpoints/
.venv_finetune/
bin/ollama
lib/ollama/
ollama-linux-amd64.tar
ollama-linux-amd64.tar.zst
logs/

.DS_Store
